$background_color: #000;
$color: #fff;

//// mobile casuals

$body_display_mobile: flex;
$body_flex_direction_mobile: column;
$body_align_items_mobile: center;
$background_image_mobile: url(https://raw.githubusercontent.com/Thomas1234567890/typescript-nzbu4d/7f1e6272eafcd4592d1c96d44f4f82f36f0867b9/style/mobile_background_image.svg);

// margin_mobile : 125px 0 0 35px;
$heading_margin_mobile: 50px 0 0 0;
$heading_header_mobile: 24px;
$heading_text_mobile: 16px;
$heading_text_color_mobile: rgba(255, 255, 255, 0.5);
$icon_float_mobile: right;
$icon_transform_mobile: translate(25%, -100%);

$card_list_margin_mobile: 100px 0 35px 0;

$card_title_mobile: 24px;
$card_text_mobile: 16px;
$card_height_mobile: 238px;
$card_width_mobile: 304px;
$card_margin_mobile: 0 0 20px 0;
$card_padding_mobile: 0 0 0 0;
$card_heading_padding_mobile: 40px 0 0 20px;
$card_text_padding_mobile: 10px 0 0 20px;
$card_text_margin_mobile: 10px 20px 0 20px;

/// desktop overlords

$body_display_desktop: flex;
$body_flex_direction_desktop: column;
$body_align_items_desktop: center;
$background_image_desktop: url(https://raw.githubusercontent.com/Thomas1234567890/typescript-nzbu4d/7f1e6272eafcd4592d1c96d44f4f82f36f0867b9/style/mobile_background_image.svg);

// margin_desktop : 125px 0 0 35px;
$heading_margin_desktop: 50px 0 0 0;
$heading_header_desktop: 24px;
$heading_text_desktop: 16px;
$heading_text_color_desktop: rgba(255, 255, 255, 0.5);
$icon_float_desktop: right;
$icon_transform_desktop: translate(25%, -100%);

$card_list_margin_desktop: 100px 0 35px 0;

$card_title_desktop: 24px;
$card_text_desktop: 16px;
$card_height_desktop: 238px;
$card_width_desktop: 304px;
$card_margin_desktop: 0 0 20px 0;
$card_padding_desktop: 0 0 0 0;
$card_heading_padding_desktop: 40px 0 0 20px;
$card_text_padding_desktop: 10px 0 0 20px;
$card_text_margin_desktop: 10px 20px 0 20px;
