///mobile
@import "./_variables";

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: $background_color;
  color: $color;
  font-family: "Montserrat", sans-serif;
  display: $body_display;
  flex-direction: $body_flex_direction;
  align-items: $body_align_items;
}

.heading {
  // margin: 125px 0 0 35px;
  margin: $heading_margin;
  & .title,
  & .contact {
    font-size: $heading_text;
    color: $heading_text_color;
  }

  & .name {
    font-size: $heading_header;
  }
  & .icon {
    float: $icon_float;
    transform: $icon_transform;
  }
}

.card_list {
  margin: $card_list_margin;
}
.card {
  border: solid 1px red;
  height: $card_height;
  width: $card_width;
  margin: $card_margin;
  padding: $card_padding;

  & .title {
    font-size: $card_title;
    padding: $card_heading_padding;
  }
  & .text {
    font-size: $card_text;
    padding: $card_text_padding;
  }
}
