@use "_variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/// mobile first - normal ///////////////////////////////////////////////////////
body {
  font-family: "Montserrat", sans-serif;
  color: $color;
  ///cheat for stupid background image clipping issue
  background: rgb(159, 0, 112);
  background: linear-gradient(
    0deg,
    rgba(159, 0, 112, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.bg {
  z-index: 0;
  background-image: $background_image_mobile;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heading {
  margin: $heading_margin_mobile;
  & .title,
  & .contact {
    font-size: $heading_text_mobile;
    color: $heading_text_color_mobile;
  }

  & .name {
    font-size: $heading_header_mobile;
  }
  & .icon {
    float: $icon_float_mobile;
    transform: $icon_transform_mobile;
  }
}

.card_list {
  display: $card_list_display_mobile;
  flex-direction: $card_flex_direction_mobile;
  align-items: $card_align_items_mobile;
  margin: $card_list_margin_mobile;
}
.card {
  height: $card_height_mobile;
  width: $card_width_mobile;
  margin: $card_margin_mobile;
  padding: $card_padding_mobile;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  &:hover {
    border: solid 1px rgba(255, 255, 255, 0.5);
  }

  & .title a {
    font-size: $card_title_mobile;
    padding: $card_heading_padding_mobile;
    color: #fff;
  }
  & .text {
    font-size: $card_text_mobile;
    margin: $card_text_margin_mobile;
  }
}
/// desktop ///////////////////////////////////////////////////////
//where the fun begins , added fade in and motions
@media only screen and (min-width: 900px) {
  .bg {
    background-image: $background_image_desktop;
  }

  .heading {
    margin: $heading_margin_desktop;
    & .title,
    & .contact {
      font-size: $heading_text_desktop;
      color: $heading_text_color_desktop;
    }

    & .name {
      font-size: $heading_header_desktop;
    }
    & .icon {
      float: $icon_float_desktop;
      transform: $icon_transform_desktop;
    }
  }

  .card_list {
    display: $card_list_display_desktop;
    flex-direction: $card_flex_direction_desktop;
    align-items: $card_align_items_desktop;
    margin: $card_list_margin_desktop;
  }
  .card {
    height: $card_height_desktop;
    width: $card_width_desktop;
    margin: $card_margin_desktop;
    padding: $card_padding_desktop;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    &:hover {
      border: solid 1px rgba(255, 255, 255, 0.5);
    }

    & .title a {
      font-size: $card_title_desktop;
      padding: $card_heading_padding_desktop;
      color: $color;
    }
    & .text {
      font-size: $card_text_desktop;
      margin: $card_text_margin_desktop;
    }
  }
}
